hr {
  margin: 0;
}

.rodape {
  background-color: var(--branco);
  padding: 1em;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    background-color: var(--branco-secundario);
    justify-content: space-around;
  }

   .rodape__titulo {
    color: var(--preto);
    font-size: 24px;
    margin: 1em 0;
   }
   
  .lista-rodape {
    flex-direction: column;
    margin-left: 4em;
    display: block;
  }

  .lista-rodape__titulo {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--cinza);
    margin:2em 0;
  }

  .lista-rodape__item {
    display: flex;
    align-items: center;
  }
  
  .lista-rodape__link {
    text-decoration: none;
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1em;
  }
}

@media screen and (min-width:1024px) {
  .lista-rodape {
    border-left: 1px solid var(--cinza);
    padding-left: 1em;
  }

  .rodape { 
    padding: 3em 0;
  }

  .lista-rodape__link:hover {
    color: var(--laranja);
    }
}
  
